{{extend 'layout.html'}}
<br>
<center>
    <center><img src="/1/static/catalogochrysler.jpg" alt="My Logo" /></center>

<table style="background:#F1FCFC" border="10" width="100%">

 <tr align="center">  
     <td><br><center><a href="/1/chrysler/bieletas"><img src="/1/static/chryslerbieletas.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/chrysler/bujes"><img src="/1/static/chryslerbujes.jpg" alt="My Logo" /></td></center></a>
      <td><br><center><a href="/1/chrysler/cazoletas"><img src="/1/static/chryslercazoletas.jpg" alt="My Logo" /></td></center></a>
             <td><br><br><center><a href="/1/chrysler/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a>
           
 </tr>

 <table>
<tr>
    <td><center><a href="/1/chrysler/catalogochrysler"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
</table>


 <marquee><center><img src="/1/static/lineadetiempochrysler.jpg" alt="My Logo" /></center></marquee>
