{{extend 'layout.html'}}
<br>
<center>
    <center><img src="/1/static/catalogolada.jpg"  alt="My Logo" /></center>

<table style="background:#F1FCFC" border="10" width="100%">
 <tr align="center">   
    <td><br><center><a href="/1/lada/abrazaderas"><img src="/1/static/abrazaderaslada.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/lada/otros"><img src="/1/static/otros.jpg" width="150" alt="My Logo"/></td></center></a>
 </tr>
 <table>
<tr>
    <td><center><a href="/1/lada/catalogolada"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
 </table>
 
 <marquee><center><img src="/1/static/lineadetiempolada.jpg" alt="My Logo" /></center></marquee>
