{{extend 'layout.html'}}

<center>
    <center><img src="/1/static/catalogomitsubishi.jpg" alt="My Logo" /></center>

<table style="background:#F1FCFC" border="10" width="100%">

 <tr align="center"> 
      <td><br><center><a href="/1/mitsubishi/bieletas"><img src="/1/static/mitsubishibieletas.jpg" alt="My Logo" /></td></center></a> 
     <td><br><center><a href="/1/mitsubishi/bujes"><img src="/1/static/mitsubishibujes.jpg" alt="My Logo" /></td></center></a>
      <td><br><center><a href="/1/mitsubishi/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a>
        
     
</tr>
<table>
<tr>
    <td><center><a href="/1/mitsubishi/catalogomitsubishi"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
 </table>

 <marquee><center><img src="/1/static/lineadetiempomitsubishi.jpg" alt="My Logo" /></center></marquee>
