{{extend 'layout.html'}}
<br>
<center>
    <center><img src="/1/static/catalogovolvo.jpg" alt="My Logo" /></center>
<table style="background:#F1FCFC" border="10" width="100%">
<tr align="center">  
     <td><br><center><a href="/1/volvo/bieletas"><img src="/1/static/volvobieletas.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/volvo/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a>
       
</tr>
<table>
<tr>
    <td><center><a href="/1/volvo/catalogovolvo"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
</table>
 <marquee><center><img src="/1/static/lineadetiempovolvo.jpg" alt="My Logo" /></center></marquee>
