{{extend 'layout.html'}}
<br>
<center>
    <center><img src="/1/static/catalogotoyota.jpg" alt="My Logo" /></center>
    
<table style="background:#F1FCFC" border="10" width="100%">
 <tr align="center">
    <td><br><center><a href="/1/toyota/abrazaderas"><img src="/1/static/toyotaabrazaderas.jpg" alt="My Logo" /></td></center></a>
    <td><br><center><a href="/1/toyota/almohadillas"><img src="/1/static/toyotaalmohadillas.jpg" alt="My Logo" /></td></center></a>
    <td><br><center><a href="/1/toyota/bieletas"><img src="/1/static/toyotabieletas.jpg" alt="My Logo" /></td></center></a>
   <td><br><center><a href="/1/toyota/bujes"><img src="/1/static/toyotabujes.jpg" alt="My Logo" /></td></center></a>
</tr>
 <tr align="center">
     
    
      <td><br><center><a href="/1/toyota/cazoletas"><img src="/1/static/toyotacazoletas.jpg" alt="My Logo" /></td></center></a>
      <td><br><center><a href="/1/toyota/brazodeauxiliar"><img src="/1/static/toyotabrazosauxiliar.jpg" alt="My Logo" /></td></center></a>
      <td><br><br><center><a href="/1/toyota/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a> 
    
</tr>
<table>
<tr>
    <td><center><a href="/1/toyota/catalogotoyota"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
</table>
 <marquee><center><img src="/1/static/lineadetiempotoyota.jpg" alt="My Logo" /></center></marquee>
