{{extend 'layout.html'}}

<br>
<center>
    <center><img src="/1/static/catalogofiat.jpg" alt="My Logo" /></center>

<table style="background:#F1FCFC" border="10" width="100%">
 <tr align="center">   
    <td><br><center><a href="/1/fiat/abrazaderas"><img src="/1/static/abrazaderas.jpg" alt="My Logo" width="50%" /></td></center></a>
    <td><br><center><a href="/1/fiat/almohadillas"><img src="/1/static/almohadillas.jpg" alt="My Logo" width="50%"/></td></center></a>
     <td><br><center><a href="/1/fiat/arandelas"><img src="/1/static/arandelas.jpg" alt="My Logo" width="50%"/></td></center></a>
     <td><br><center><a href="/1/fiat/barras"><img src="/1/static/barras.jpg" alt="My Logo" width="50%"/></td></center></a>
    
</tr>
 <tr align="center">  
     <td><br><br><center><a href="/1/fiat/bieletas"><img src="/1/static/bieletas.jpg" alt="My Logo" width="50%"/></td></center></a>
     <td><br><center><a href="/1/fiat/bujes"><img src="/1/static/bujes.jpg" alt="My Logo" width="50%"/></td></center></a>
      <td><br><center><a href="/1/fiat/cazoletas"><img src="/1/static/cazoletas.jpg" alt="My Logo"width="50%" /></td></center></a>
       <td><br><center><a href="/1/fiat/crapodinas"><img src="/1/static/crapodinas.jpg" alt="My Logo" width="50%"/></td></center></a>
</tr>
 <tr align="center">  
        <td><br><center><a href="/1/fiat/fuelles"><img src="/1/static/fuelles.jpg" alt="My Logo" width="50%"/></td></center></a>
        <td><br><center><a href="/1/fiat/gomas"><img src="/1/static/gomas.jpg" alt="My Logo" width="50%"/></td></center></a>
        <td><br><br><center><a href="/1/fiat/manchons"><img src="/1/static/manchons.jpg" alt="My Logo" width="50%"/></td></center></a>   
        <td><br><center><a href="/1/fiat/mazas"><img src="/1/static/mazas.jpg" alt="My Logo" width="50%" /></td></center></a>  
</tr>

<tr align="center">  
        <td><br><center><a href="/1/fiat/platillos"><img src="/1/static/platillos.jpg" alt="My Logo" width="50%"/></td></center></a>
        <td><br><center><a href="/1/fiat/rulemans"><img src="/1/static/rulemans.jpg" alt="My Logo" width="50%" /></td></center></a>
        <td><br><center><a href="/1/fiat/seguros"><img src="/1/static/seguros.jpg" alt="My Logo" width="50%"/></td></center></a>   
        <td><br><center><a href="/1/fiat/soportes"><img src="/1/static/soportes.jpg" alt="My Logo" width="50%" /></td></center></a>  
</tr>
<tr align="center">  
        <td><br><center><a href="/1/fiat/tricetas"><img src="/1/static/tricetas.jpg" alt="My Logo" width="50%"/></td></center></a>
        <td><br><br><center><a href="/1/fiat/topes"><img src="/1/static/topes.jpg" alt="My Logo" width="50%" /></td></center></a>
        <td><br><br><br><center><a href="/1/fiat/ejes"><img src="/1/static/ejes.jpg" alt="My Logo" width="50%" /></td></center></a>
        <td><br><center><a href="/1/fiat/puntadeeje"><img src="/1/static/puntadeeje.jpg" alt="My Logo" width="50%" /></td></center></a>       
 </tr>
 <tr align="center">  
        <td><br><br><center><a href="/1/fiat/otros"><img src="/1/static/otros.jpg" alt="My Logo" width="50%"/></td></center></a>
</tr>
<table>
<tr>
    <td><center><a href="/1/fiat/catalogofiat"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
</table>

 <marquee><center><img src="/1/static/lineadetiempodefiat.jpg" alt="My Logo" /></center></marquee>
