{{extend 'layout.html'}}
<br>
<center>
    <center><img src="/1/static/catalogorenault.jpg" alt="My Logo" /></center>

<table style="background:#F1FCFC" border="10" width="100%">
 <tr align="center">   
    <td><br><center><a href="/1/renault/abrazaderas"><img src="/1/static/renaultabrazaderas.jpg" alt="My Logo" /></td></center></a>
    <td><br><center><a href="/1/renault/almohadillas"><img src="/1/static/renaultalmohadillas.jpg" alt="My Logo" /></td></center></a>
   
     <td><br><br><center><a href="/1/renault/barras"><img src="/1/static/renaultbarras.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/renault/acoples"><img src="/1/static/renaultacoples.jpg" alt="My Logo" /></td></center></a>
    
</tr>
 <tr align="center">  
     <td><br><br><center><a href="/1/renault/bieletas"><img src="/1/static/renaultbieletas.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/renault/bujes"><img src="/1/static/renaultbujes.jpg" alt="My Logo" /></td></center></a>
      <td><br><center><a href="/1/renault/cazoletas"><img src="/1/static/renaultcazoletas.jpg" alt="My Logo" /></td></center></a>
      <td><br><center><a href="/1/renault/puntadeeje"><img src="/1/static/renaultpuntadeejes.jpg" alt="My Logo" /></td></center></a>
     
</tr>

 <tr align="center">  
     <td><br><center><a href="/1/renault/cubrecazoletas"><img src="/1/static/renaultcubrecazoletas.jpg" alt="My Logo" /></td></center></a>
    <td><br><center><a href="/1/renault/distancialdemazas"><img src="/1/static/renaultdistancialdemazas.jpg" alt="My Logo" /></td></center></a>
       <td><br><br><center><a href="/1/renault/ejes"><img src="/1/static/renaultejes.jpg" alt="My Logo" /></td></center></a>
         <td><br><center><a href="/1/renault/horquillas"><img src="/1/static/renaulthorquillas.jpg" alt="My Logo" /></td></center></a>
</tr>
<tr align="center">  
   <td><br><center><a href="/1/renault/mazas"><img src="/1/static/renaultmazas.jpg" alt="My Logo" /></td></center></a>
        <td><br><br><center><a href="/1/renault/sacasdeespigas"><img src="/1/static/sacasdeespigas.jpg" alt="My Logo" /></td></center></a>
        <td><br><br><center><a href="/1/renault/renaultseparadores"><img src="/1/static/renaultseparadores.jpg" alt="My Logo" /></td></center></a>
        <td><br><br><center><a href="/1/renault/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a>
</tr>
<table>
<tr>
    <td><center><a href="/1/renault/catalogorenault"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>

</table>
<center><marquee><img src="/1/static/lineadetiemporenault.jpg" alt="My Logo" /></center></marquee>
