{{extend 'layout.html'}}

<br>
<center>
    <center><img src="/1/static/catalogonissan.jpg" alt="My Logo" /></center>

<table style="background:#F1FCFC" border="10" width="100%">
 <tr align="center">   
    <td><br><br><center><a href="/1/nissan/bieletas"><img src="/1/static/nissanbieletas.jpg"  width="120" alt="My Logo" /></td></center></a>
    <td><center><a href="/1/nissan/bujes"><img src="/1/static/nissanbujes.jpg"  width="120" alt="My Logo" /></td></center></a>
</a> 
 <td><br><br><center><a href="/1/nissan/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a>
</tr>
<table>
<tr>
    <td><center><a href="/1/nissan/catalogonissan"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
</table>


 <marquee><center><img src="/1/static/lineadetiemponissan.jpg" alt="My Logo" /></center></marquee>
