{{extend 'layout.html'}}
<br>
<br>
<br>
<center>
<center>
<td><center><img src="/1/static/telefonofaxemail.jpg" alt="My Logo" width="100%"/><a></td></center></a>
<br>
<MARQUEE><CENTER>{{=A(IMG(_width="750px",_src=URL(r=request,c='static',f='tiras.jpg'),_title='autopartes'))}}</CENTER></MARQUEE> 
<h4><center style="background:#81C3E6">ACTUALIZACIONES DE ROLES ADMINISTRADOR</center></h4>
<table style="border: "10" solid #81C3E6" width="100%">
<tr style="border:"10" solid #F1FCFC" width="100%">
    <th style="border: 1px solid #F1FCFC"><center>FOTO</center></th>
    <th style="border: 1px solid #F1FCFC"><center>NOMBRES</center></th>
    <th style="border: 1px solid #F1FCFC"><center>APELLIDOS</center></th>
    <th style="border: 1px solid #F1FCFC"><center>EMAIL</center></th>

</tr>     
    {{for x in administrador:}}
<tr>
  <td>{{=IMG(_width="200px",_height="200px",_onmouseover="this.width=500;this.height=400;",_onmouseout="this.width=200;this.height=150;",_src=URL(c='default',f='download', args=x.foto))}}</td>
    <td style="border: 1px solid #F1FCFC"><center>{{=x.first_name}}</center></b></td>
    <td style="border: 1px solid #F1FCFC"><center>{{=x.last_name}}</center></b></td>
<td style="border: 1px solid #F1FCFC"><center>{{=x.email}}</center></b></td>
   
  <td style="border: 1px solid #F1FCFC"><center>{{=A('Modificar', _href=URL(r=request, f='modificar_admi', args=x.id))}} -
        {{=A('Borrar', _href=URL(r=request, f='borrar_admi', args=[x.id]))}}</td>
</tr>
{{pass}}
</table>
