{{extend 'layout.html'}}
<br>
<br>
<br>
 <br>
<br>
<center>
<center>
<td><center><img src="/1/static/telefonofaxemail.jpg" alt="My Logo" width="100%"/><a></td></center></a>
<br>
<h4><center style="background:#81C3E6">ELIMINAR USUARIO</center></h4>
<table  width="1099" high="1000" >
 <tr>
 <td>
 {{=form}}
 </td>
 <td>
  <br><left><img src="/1/static/borrar.jpg"  alt="left"  high="300" width="300" alt="My Logo" /></left></br>
     </td>
   
 


</table>
<MARQUEE><CENTER>{{=A(IMG(_width="750px",_src=URL(r=request,c='static',f='tiras.jpg'),_title='autopartes'))}}</CENTER></MARQUEE>
