{{extend 'layout.html'}}
{{pass}}

<center>
<br>
<br>
<center><div style="width:1000px;height:200px;">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
width="1000" height="200" id="slideful">
<param name="movie" value="http://c.slideful.com/1/201311/15/0015043089190488/slideful.swf?fr=120&w=1000&h=200&s=3&tr=fo&bt=&n=9"/>
<param name="bgcolor" value="#FFFF00"/>
<param name="quality" value="high"/>
<param name="allowscriptaccess" value="always"/>
<param name="wmode" value="transparent"/>
<!--[if !IE]>-->
<object type="application/x-shockwave-flash"
width="1000" height="200"
data="http://c.slideful.com/1/201311/15/0015043089190488/slideful.swf?fr=120&w=1000&h=200&s=3&tr=fo&bt=&n=9" id="slideful">
<param name="bgcolor" value="#FFFF00"/>
<param name="quality" value="high"/>
<param name="allowscriptaccess" value="always"/>
<param name="wmode" value="transparent"/>
<script type="text/javascript" src="http://c.slideful.com/v20131115_0015043089190488.js"></script>
<noscript ><a href="http://slideful.com/v20131115_0015043089190488_pf.htm">View the slide show</a></noscript>
</object>
<!--<![endif]-->
</object>
</div></center>
<table border="0" width="100%" >  
<tr align="center" >
    <td><br><center><a href="/1/fiat/fiat"><img src="/1/static/fiat.jpg" alt="My Logo" width="100%" /><a href="/1/catalogos/listarfiat"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
    <td><br><br><br><center><br><a href="/1/ford/ford"><img src="/1/static/ford.jpg" alt="My Logo" width="100%"/><a href="/1/catalogos/listarford"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
    <td><center><br><a href="/1/chevrolet/chevrolet"><img src="/1/static/chevrolet.jpg" alt="My Logo" width="100%"/><a href="/1/catalogos/listarchevrolet"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
    
</tr>

<tr>
   <td><br><br><br><br><center><a href="/1/citroen/citroen"><img src="/1/static/citroen.jpg" alt="My Logo" width="100%"/><a href="/1/catalogos/listarcitroen"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
   <td><br><br><br><center><a href="/1/chrysler/chrysler"><img src="/1/static/chrysler2.jpg" alt="My Logo" width="100%"/><a href="/1/catalogos/listarchrysler"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
   <td><br><center><a href="/1/alfaromeo/alfaromeo"><img src="/1/static/alfaromeo.jpg" alt="My Logo" width="60%"/><a href="/1/catalogos/listaralfaromeo"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
</tr>
<tr>
 <td><center><br><br><a href="/1/lada/lada"><img src="/1/static/lada.jpg" alt="My Logo" width="80%"/><a href="/1/catalogos/listarlada"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><br><a href="/1/landrover/landrover"><img src="/1/static/landrover.jpg" alt="My Logo" width="80%"/><a href="/1/catalogos/listarlandrover"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><a href="/1/nissan/nissan"><img src="/1/static/nissan.jpg" alt="My Logo" width="60%"/><a href="/1/catalogos/listarnissan"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
</tr>
<tr>
 <td><center><br><a href="/1/honda/honda"><img src="/1/static/honda.jpg" alt="My Logo" width="100%"/><a href="/1/catalogos/listarhonda"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
<td><center><br><a href="/1/peugeot/peugeot"><img src="/1/static/peugeot.jpg" alt="My Logo" width="80%"/><a href="/1/catalogos/listarpeugeot"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><br><br><br><br><a href="/1/mitsubishi/mitsubishi"><img src="/1/static/mitsu.jpg" alt="My Logo"width="100%" /><a href="/1/catalogos/listarmitsubishi"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
</tr>
<tr>
 <td><center><br><br><br><a href="/1/mercedesbenz/mercedesbenz"><img src="/1/static/mercedesbenz.jpg" alt="My Logo" width="100%"/><a href="/1/catalogos/listarmercedesbenz"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><a href="/1/renault/renault"><img src="/1/static/renault.jpg" alt="My Logo" width="50%"/><a href="/1/catalogos/listarrenault"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><a href="/1/volkswagen/volkswagen"><img src="/1/static/volkswagen.jpg" alt="My Logo" width="50%"/><a href="/1/catalogos/listarvolkswagen"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
</tr>
<tr>
 <td><center><br><br><br><br><a href="/1/susuki/susuki"><img src="/1/static/susuki.jpg" alt="My Logo" width="100%"/><a href="/1/catalogos/listarsusuki"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><br><a href="/1/volvo/volvo"><img src="/1/static/volvo.jpg" alt="My Logo" width="60%"/><a href="/1/catalogos/listarvolvo"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><br><br><br><br><a href="/1/musso/musso"><img src="/1/static/musso.jpg" alt="My Logo" width="80%"/><a href="/1/catalogos/listarmusso"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
</tr>
<tr>
 <td><center><br><br><br><a href="/1/hyundai/hyundai"><img src="/1/static/hyundai.jpg" alt="My Logo" width="70%"/><a href="/1/catalogos/listarhyundai"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><br><a href="/1/asia/asia"><img src="/1/static/asia.jpg" alt="My Logo" width="80%"/><a href="/1/catalogos/listarasia"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
<td><center><br><br><a href="/1/toyota/toyota"><img src="/1/static/toyota.jpg" alt="My Logo" width="60%"/><a href="/1/catalogos/listartoyota"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
</tr>
<br>
<tr>
 <td><center><br><br><br><br><a href="/1/cherokee/cherokee"><img src="/1/static/cherokee.jpg" alt="My Logo" width="100%"/><a href="/1/catalogos/listarcherokee"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><br><br><a href="/1/mazda/mazda"><img src="/1/static/mazda.jpg" alt="My Logo" width="100%"/><a href="/1/catalogos/listarmazda"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
 <td><center><br><br><a href="/1/bmw/bmw"><img src="/1/static/bmw.jpg" width="200" alt="My Logo" /><a href="/1/catalogos/listarbmw"><img src="/1/static/descargar.jpg" alt="My Logo" width="80%"/></td></center></a>
</tr>

<br>
<br>
</table>
<table>
<MARQUEE><CENTER>{{=A(IMG(_width="750px",_src=URL(r=request,c='static',f='tiras.jpg'),_title='autopartes'))}}</CENTER></MARQUEE>
<center>
<left>
<center><a href="/1/catalogos/completo"><img src="/1/static/descargar2.jpg" alt="My Logo" width="40%"/></td></center></a>
</table>
