{{extend 'layout.html'}}
<br>
<center>
    <center><img src="/1/static/catalogoasia.jpg" alt="My Logo" /></center>
    
    <table style="background:#F1FCFC" border="10" width="100%">
 

 </tr>
 <tr align="center">
          <td><br><br><center><a href="/1/asia/bieletas"><img src="/1/static/asiabieletas.jpg" alt="My Logo" /></td></center></a>
          
        <td><br><center><a href="/1/asia/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a>
       

</tr>
<table>
<tr>
    <td><center><a href="/1/asia/catalogoasia"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
</table>

 <marquee><center><img src="/1/static/lineadetiempoasia.jpg" alt="My Logo" /></center></marquee>
