{{extend 'layout.html'}}
<br>
<center>
    <center><img src="/1/static/catalogohyundai.jpg" alt="My Logo" /></center>
<table style="background:#F1FCFC" border="10" width="100%">
 <tr align="center">   
    <td><br><center><a href="/1/hyundai/bieletas"><img src="/1/static/hyundaibieletas.jpg" alt="My Logo" /></td></center></a>
    <td><br><center><a href="/1/hyundai/bujes"><img src="/1/static/hyundaibujes.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/hyundai/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a>
</tr>
<table>
<tr>
    <td><center><a href="/1/hyundai/catalogohyundai"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>  
</table>



 <marquee><center><img src="/1/static/lineadetiempohyundai.jpg" alt="My Logo" /></center></marquee>
