{{extend 'layout.html'}}
<br>
<center>
    <center><img src="/1/static/catalogomercedesbenz.jpg" alt="My Logo" /></center>

<table style="background:#F1FCFC" border="10" width="100%">
 <tr align="center">   
    <td><br><center><a href="/1/mercedesbenz/abrazaderas"><img src="/1/static/abrazaderas2.jpg" alt="My Logo" /></td></center></a>
    <td><br><center><a href="/1/mercedesbenz/bieletas"><img src="/1/static/bieletas2.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/mercedesbenz/bujes"><img src="/1/static/bujes2.jpg" alt="My Logo" /></td></center></a>
      <td><br><center><a href="/1/mercedesbenz/cazoletas"><img src="/1/static/cazoletas2.jpg" alt="My Logo" /></td></center></a>  
</tr>
 <tr align="center">  
        <td><br><br><center><a href="/1/mercedesbenz/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a>
</tr>
<table>
<tr>
    <td><center><a href="/1/mercedesbenz/catalogomercedesbenz"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /</td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
</table>                           
</center>


 <marquee><center><img src="/1/static/lineadetiempomercedesbenz.jpg" alt="My Logo" /></center></marquee>
