{{extend 'layout.html'}}
<br>
<br>
<nsbp><center><img src="/1/static/telefonofaxemail.jpg" alt="My Logo" width="100%"/><a></td></center></a></nsbp>
<br>
<center>{{=A(IMG(_width="1000px",_src=URL(r=request,c='static',f='superior.jpg'),_title='autopartes'))}}</center>
<br>

<tr>
     <br><p><td align="right">
      <br><center>

<iframe width="900" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ar/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=piedrabuena+5337+capital+federal&amp;aq=&amp;sll=-34.615853,-58.433298&amp;sspn=0.350359,0.441513&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Piedra+Buena+5337,+Villa+Riachuelo,+Buenos+Aires&amp;t=m&amp;ll=-34.688063,-58.470097&amp;spn=0.02823,0.077162&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.ar/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=piedrabuena+5337+capital+federal&amp;aq=&amp;sll=-34.615853,-58.433298&amp;sspn=0.350359,0.441513&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Piedra+Buena+5337,+Villa+Riachuelo,+Buenos+Aires&amp;t=m&amp;ll=-34.688063,-58.470097&amp;spn=0.02823,0.077162&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
      </tr>
      </table>
       </td>
        </tr>
        <tr valign="center">
         <td colspan="2">&nbsp;</td>
           </tr>
        </table></td>
           </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

</br>
<font face="Tahoma"><center><b>Av.Piedrabuena 5337 Ciudad de Buenos Aires C1439GWK 
    <MARQUEE><CENTER> {{=A(IMG(_width="700px",_src=URL(r=request,c='static',f='tiras.jpg'),_title='autopartes'))}}</CENTER></MARQUEE>

</body>
