{{extend 'layout.html'}}

<br>
<center>
    <center><img src="/1/static/catalogodeford99.jpg" alt="My Logo" /></center>

<table style="background:#F1FCFC" border="10" width="100%">
 <tr align="center">
    <td><br><center><a href="/1/ford/abrazaderas"><img src="/1/static/abrazaderas3.jpg" alt="My Logo" /></td></center></a>
    <td><br><br><center><a href="/1/ford/acoples"><img src="/1/static/acoples2.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/ford/almohadillas"><img src="/1/static/almohadillas2.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/ford/arandelas"><img src="/1/static/arandelas2.jpg" alt="My Logo" /></td></center></a>

</tr>
 <tr align="center">
     <td><br><center><a href="/1/ford/bieletas"><img src="/1/static/bieletas4.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/ford/bridas"><img src="/1/static/bridas2.jpg" alt="My Logo" /></td></center></a>
      <td><br><center><a href="/1/ford/bujes"><img src="/1/static/bujes3.jpg" alt="My Logo" /></td></center></a>
       <td><br><center><a href="/1/ford/cazoletas"><img src="/1/static/cazoletas4.jpg" alt="My Logo" /></td></center></a>
</tr>
 <tr align="center">
        <td><br><center><a href="/1/ford/crapodinas"><img src="/1/static/crapodinas2.jpg" alt="My Logo" /></td></center></a>
        <td><br><br><center><a href="/1/ford/cubrecazoletas"><img src="/1/static/cubrecazoletas2.jpg" alt="My Logo" /></td></center></a>
         <td><br><br><center><a href="/1/ford/correctordecomba"><img src="/1/static/correctordecomba2.jpg" alt="My Logo" /></td></center></a>
         <td><br><br><center><a href="/1/ford/ejes"><img src="/1/static/ejes2.jpg" alt="My Logo" /></td></center></a>

</tr>

<tr align="center">
          <td><br><br><center><a href="/1/ford/fuelles"><img src="/1/static/fuelles2.jpg" alt="My Logo" /></td></center></a>
<td><br><center><a href="/1/ford/manchons"><img src="/1/static/manchons2.jpg" alt="My Logo" /></td></center></a>
        <td><br><center><a href="/1/ford/mazas"><img src="/1/static/mazaderuedas2.jpg" alt="My Logo" /></td></center></a>
        <td><br><center><a href="/1/ford/montantes"><img src="/1/static/montantes2.jpg" alt="My Logo" /></td></center></a>
        
</tr>
<tr align="center">
         <td><br><center><a href="/1/ford/platos"><img src="/1/static/platos2.jpg" alt="My Logo" /></td></center></a>
        <td><br><center><a href="/1/ford/portas"><img src="/1/static/portamazas2.jpg" alt="My Logo" /></td></center></a>
        <td><br><br><center><a href="/1/ford/puntadeeje"><img src="/1/static/puntadeeje2.jpg" alt="My Logo" /></td></center></a>
        <td><br><br><center><a href="/1/ford/soportes"><img src="/1/static/soportes2.jpg" alt="My Logo" /></td></center></a>
       
 </tr>
 <tr align="center">
           <td><br><br><center><a href="/1/ford/torretas"><img src="/1/static/torretas2.jpg" alt="My Logo" /></td></center></a>
          <td><br><br><center><a href="/1/ford/topes"><img src="/1/static/topes2.jpg" alt="My Logo" /></td></center></a>
        <td><br><br><center><a href="/1/ford/tricetas"><img src="/1/static/tricetas2.jpg" alt="My Logo"  width="50%" /></td></center></a>
      <td><br><br><center><a href="/1/ford/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a>   

</tr>
<table>
<tr>
    <td><center><a href="/1/ford/catalogoford"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
</table>

 <marquee><center><img src="/1/static/lineadetiempoford.jpg" alt="My Logo" /></center></marquee>
