{{extend 'layout.html'}}

<br>
<center>
    <center><img src="/1/static/catalogocitroen.jpg" alt="My Logo" /></center>

<table style="background:#F1FCFC" border="10" width="100%">
 <tr align="center">   
    <td><br><br><center><a href="/1/citroen/abrazaderas"><img src="/1/static/citroenabrazaderas.jpg" alt="My Logo" /></td></center></a>
    <td><br><br><br><center><a href="/1/citroen/bieletas"><img src="/1/static/citroenbieletas.jpg" alt="My Logo" /></td></center></a>
     <td><br><center><a href="/1/citroen/bujes"><img src="/1/static/citroenbujes.jpg" alt="My Logo" /></td></center></a>
       <td><br><center><a href="/1/citroen/cazoletas"><img src="/1/static/citroencazoletas.jpg" alt="My Logo" /></td></center></a>
       <td><br><center><a href="/1/citroen/crapodinas"><img src="/1/static/citroencrapodinas.jpg" alt="My Logo" /></td></center></a>
      <td><br><center><a href="/1/citroen/cubrecazoletas"><img src="/1/static/citroencubrecazoletas.jpg" alt="My Logo" /></td></center></a><td><br><center><a href="/1/citroen/otros"><img src="/1/static/otros.jpg" alt="My Logo" /></td></center></a> 
   
    
</tr>
 
<table>
<tr>
    <td><center><a href="/1/citroen/catalogocitroen"><img src="/1/static/catalogocompleto.jpg" alt="My Logo" /></center></td>
        <td><center><a href="/1/catalogos/marcas"><img src="/1/static/menumarcas.jpg" alt="My Logo" /></center></td>     

</tr>

            </table>
 
</table>


 <marquee><center><img src="/1/static/lineadetiempocitroen.jpg" alt="My Logo" /></center></marquee>
