{{extend 'layout.html'}}
{{pass}}
<html>
<body>
<br>
<br>
<table>
<div id="contenedor">
  <div id="cabecera">
<noscript>Get the <a href="http://www.widgetbox.com/i/d9393252-3eca-4f31-8ea9-ef505f01123a">Slideshow Creator Pro</a> widget and many other <a href="http://www.widgetbox.com/">great free widgets</a> at <a href="http://www.widgetbox.com">Widgetbox</a>! Not seeing a widget? (<a href="http://support.widgetbox.com/">More info</a>)</noscript>
<left><iframe width="200" height="200" scrolling="yes" src="http://pagina-del-dia.euroresidentes.es/gadget-dia-de-hoy.php?fondo=Cian.png&texto=FFFFFF" frameborder="0" align="left"></iframe></left>
<br><left><iframe id="playerIFrame" frameborder="0"scrolling="no"align="left"
src="http://disneylatino.com/radio/widget/playerPopUp.html"height="157" width="300"
allowtransparency="True"></left></iframe>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" type="application/x-shockwave-flash" width="670px" height="173px" id="InsertWidget_d9393252-3eca-4f31-8ea9-ef505f01123a" align="middle"><param name="movie" value="http://www.widgetserver.com/syndication/flash/wrapper/InsertWidget.swf"/><param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="menu" value="false" /><param name="flashvars" value="r=2&appId=d9393252-3eca-4f31-8ea9-ef505f01123a" /><param name="allowScriptAccess" value="sameDomain" /> <embed src="http://www.widgetserver.com/syndication/flash/wrapper/InsertWidget.swf"  name="InsertWidget_d9393252-3eca-4f31-8ea9-ef505f01123a"  width="670px" height="173px" quality="high" menu="false"  wmode="transparent" align="middle"  allowScriptAccess="sameDomain" flashvars="r=2&appId=d9393252-3eca-4f31-8ea9-ef505f01123a" ></embed></object>


</div>
  <center>
  <div id="contenido">
      <center><img src="/1/static/inicio.jpg"  align="center"  height="1000" high="1000" width="1000" alt="My Logo" /></center>
  </div>
 
  <div id="pie">
     <MARQUEE><CENTER>{{=A(IMG(_width="750px",_src=URL(r=request,c='static',f='tiras.jpg'),_title='autopartes'))}}</CENTER></MARQUEE>
  </div>
</div>
</body>
</table
</html>
