{{extend 'layout.html'}}
<br>
<br>
<table>
<tr align="center" >
    
 <td><img src="/1/static/quienessomos2.jpg" alt="My Logo" width="500px"/></td>
<td><div style="width:500px;height:200px;">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
width="500" height="200" id="slideful">
<param name="movie" value="http://c.slideful.com/1/201309/19/0246687480190488/player20010_mcs.swf?fr=220&w=500&h=200&s=3&tr=ep&n=8"/>
<param name="bgcolor" value="#FFFF00"/>
<param name="quality" value="high"/>
<param name="allowscriptaccess" value="always"/>
<param name="wmode" value="transparent"/>
<!--[if !IE]>-->
<object type="application/x-shockwave-flash"
width="500" height="200"
data="http://c.slideful.com/1/201309/19/0246687480190488/player20010_mcs.swf?fr=220&w=500&h=200&s=3&tr=ep&n=8" id="slideful">
<param name="bgcolor" value="#FFFF00"/>
<param name="quality" value="high"/>
<param name="allowscriptaccess" value="always"/>
<param name="wmode" value="transparent"/>
<script type="text/javascript" src="http://c.slideful.com/v20130919_0246687480190488.js"></script>
<noscript ><a href="http://slideful.com/v20130919_0246687480190488_pf.htm">View the slide show</a></noscript>
</object>
<!--<![endif]-->
</object>
</div><h4><font face="tahoma">Henry , es un microemprendimiento situado en Capital federal –Buenos Aires –Argentina.
    Cuya actividad está dedicada a la fabricación de autopartes (Bujes de Goma-Gomas de Metal , Cazoletas de suspensión-Bieletas) e ventas de repuestos de automotor.</font></h4></td>
</td>  
</tr>
<tr>
<td><h4><font face="tahoma">Las marcas de autopartes utilizadas en esta pagina son propiedad de los fabricantes de los automóviles. Dicha utilización sirve solo a efectos de identificación del modelo al que hacemos referencia en el cual podrá ir montada nuestra pieza de recambio.</font></h4></td>
<td><div style="width:500px;height:200px;">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
width="500" height="200" id="slideful">
<param name="movie" value="http://c.slideful.com/1/201310/19/0266188347190488/player10640_dscrt_sides_classy_light.swf?fr=220&w=500&h=200&s=3&tr=r&n=10"/>
<param name="bgcolor" value="#FFFF00"/>
<param name="quality" value="high"/>
<param name="allowscriptaccess" value="always"/>
<param name="wmode" value="transparent"/>
<!--[if !IE]>-->
<object type="application/x-shockwave-flash"
width="500" height="200"
data="http://c.slideful.com/1/201310/19/0266188347190488/player10640_dscrt_sides_classy_light.swf?fr=220&w=500&h=200&s=3&tr=r&n=10" id="slideful">
<param name="bgcolor" value="#FFFF00"/>
<param name="quality" value="high"/>
<param name="allowscriptaccess" value="always"/>
<param name="wmode" value="transparent"/>
<script type="text/javascript" src="http://c.slideful.com/v20131019_0266188347190488.js"></script>
<noscript ><a href="http://slideful.com/v20131019_0266188347190488_pf.htm">View the slide show</a></noscript>
</object>
<!--<![endif]-->
</object>
</div>

</td>
</tr>
</table>
